<header id="main-header">
  <div class="row g-0">
    <div class="col-lg-4 col-md-5">
      <img src="/img/profile.jpg" alt="">
    </div>
    <div class="col-lg-8 col-md-7">
      <div class="d-flex flex-column text-white">
        {{!-- edited here --}}
        <div class="p-5 bg-header text-white">
          <div class="name d-flex flex-row justify-content-between align-items-center">
            <h1 class="display-4">Mlamuli Masilela</h1>
          </div>
          <p class="lead">Junior Web Developer</p>
          <div class="social-media">

            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>

            <a href="https://mail.google.com/" target="_blank"><i class="fa fa-envelope-o"></i></a>

            <a href="https://github.com/" target="_blank"><i class="fa fa-github"></i></a>

          </div>
        </div>
        {{!-- edited here --}}
        <div class="d-flex flex-row text-white align-items-stretch text-center">
          <div class="port-item p-4 bg-primary" data-bs-toggle="collapse" data-bs-target="#home">
            <i class="fa fa-home d-block"></i>Home
          </div>
          <div class="port-item p-4 bg-success" data-bs-toggle="collapse" data-bs-target="#education">
            <i class="fa fa-graduation-cap d-block"></i>Work
          </div>
          <div class="port-item p-4 bg-warning" data-bs-toggle="collapse" data-bs-target="#qualifications">
            <i class="fa fa-cog d-block"></i>Skills
          </div>
          <div class="port-item p-4 bg-danger" data-bs-toggle="collapse" data-bs-target="#contact">
            <i class="fa fa-envelope d-block"></i>Contact
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{{!-- Home section --}}
<div id="home" class="collapse show">
  <div class="card card-body bg-primary p-4 text-white">
    <h3>Personal summary</h3>
  </div>
  <div class="card card-body p-4 ">
    <p class="lead">
      Highly communicative individual with strong interpersonal skills and an ability to adapt to working in team
      environments. Motivated by challenge, honest and reliable all the time. Worked with different people in a large
      organization under a strong supervision from the IT engineers. Having exposure to a wide range of technologies and
      once gained an opportunity to monitor whole organizational network and able to troubleshoot and diagnose PCs.
      <br><br>
      Looking for a suitable position in Information Technology that offers mainly a room for
      progression.
    </p>
  </div>
</div>

<div id="education" class="collapse">
  <div class="bg-success p-4 text-white">
    <h3>Where have I worked?</h3>
  </div>
  <div class="card card-body">
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-3">Eswatini TV</h4>
          <h5 class="card-subtitle text-muted mb-3">
            IT Support Technician - Internship
          </h5>
          <p class="lead">
            tell: 00268 2411 9600
          </p>
          <span class="my-2"><strong>Duties</strong></span>
          <ul class="mb-2">
            <li class="mb-2">
              Installing and configuring new computers and peripherals
              Identifying hardware and software problems and rectifying accordingly
            </li>
            <li class="mb-2">Remaining on-call when looked-for</li>
            <li class="mb-2">Troubleshooting and maintaining PCs and network</li>
            <li class="mb-2">Administering the IT department’s policies and procedures</li>
            <li class="mb-2">Responsible for supporting: Windows XP/Vista/Windows 7/8/10 Office 2010/2013/2016,</li>
            <li class="">Server, Small Business Server 2003/2008, Backup products, Anti-Virus products</li>
            <li>DNS/DHCP, TCP/IP, Ethernet, wireless router.</li>
          </ul>
        </div>
        <div class="card-footer">
          <h6 class="text-muted">
            Date: 12 February 2018 - 04 May 2018
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="qualifications" class="collapse">
  <div class="card card-body p-4 bg-warning text-white">
    <h3>Academic qualifications</h3>
  </div>
  <div class="card card-body">
    <div class="technical-skill text-center p-4">
      <h4 class="mb-4">Technical skills</h4>
      <div class="row">
        {{!-- Programming languages --}}
        <div class="col-sm-12 col-md-3">
          <i class="fa fa-language fa-2x color-text"></i>
          <h5><b>Languages</b></h5>
          <p>
            C++, Python, Java, SQL, ES6 JavaScript, HTML, PHP
          </p>
        </div>
        <div class="col-sm-12 col-md-3">
          <i class="fa fa-database fa-2x color-text"></i>
          <h5><b>Database systems</b></h5>
          <p>
            MongoDB, SQL Server, MySQL
          </p>
        </div>
        <div class="col-sm-12 col-md-3">
          <i class="fa fa-gear fa-2x color-text"></i>
          <h5><b>Front-end framework</b></h5>
          <p>
            Vue.js, React JS
          </p>
        </div>
        <div class="col-sm-12 col-md-3">
          <i class="fa fa-desktop fa-2x color-text"></i>
          <h5><b>Operating systems</b></h5>
          <p>
            Microsoft Windows, Linux
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-3">
          <i class="fa fa-gears fa-2x color-text"></i>
          <h5><b>Tools</b></h5>
          <p>
            Visual studio code, Python 3 idle, Ping, Ipconfig, ifconfig, Route, Trace Route, CISCO packet tracer,
            Cutters, Fiber
            Optic tools, Compression and Crimp tools
          </p>
        </div>
        <div class="col-sm-12 col-md-3">
          <i class="fa fa-server fa-2x color-text"></i>
          <h5><b>Application servers</b></h5>
          <p>
            Mongoose, Apache Tomcat, Glassfish
          </p>
        </div>
        <div class="col-sm-12 col-md-3">
          <i class="fa fa-linode fa-2x color-text"></i>
          <h5><b>Runtime environment</b></h5>
          <p>
            Node.js, Java JRE8
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-3">Associate Degree in Information Technology</h4>
        <h5 class="card-subtitle text-muted">
          Limkokwing University of Creative Technology
        </h5>
      </div>
      <div class="card-footer">
        <p class="lead">
          Date: Sept 2015 - May 2018
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-3">Swaziland General Certificate of Secondary Education (SGCSE)
        </h4>
        <h5 class="card-subtitle text-muted">
          Malibeni High School
        </h5>
      </div>
      <div class="card-footer">
        <p class="lead">
          Date: 2014
        </p>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="collapse">
  <div class="card card-body p-4 bg-danger text-white">
    <h3>Get in touch</h3>
  </div>
  <div class="card card-body">
    <h4 class="text-center p-4">Should you require any further information, please get in touch...</h4>
    <div class="row">
      <div class="col-8 mx-auto">
        {{!-- Phone --}}
        <div class="">
          <strong>Phone</strong>
          <br>
          <strong>Eswatini MTN</strong>
          <p class="phone">00268 7828 2051</p>
          <strong>Eswatini Mobile</strong>
          <p class="phone">00268 7961 6263</p>
          <strong>Vodacom SA</strong>
          <p class="phone">0606 783 859</p>
        </div>
        <hr>
        {{!-- Email --}}
        <div class="pt-4">
          <strong>Electronic Mail</strong>
          <a href="https://mail.google.com/" target="_blank">
            <p class="email">sonkemasilela@gmail.com</p>
          </a>
        </div>
        <hr>
        {{!-- LinkedIn --}}
        <div class="pt-4">
          <strong>LinkedIn Profile</strong>
          <a href="https://www.linkedin.com/in/mlamuli-masilela-1a5177208" target=" _blank">
            <p class="linkedin">linkedin.com/in/mlamuli-masilela-1a5177208</p>
          </a>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

<footer class="main-footer text-center p-4 text-white">
  <p class="lead">My portfolio &copy; {{formatDate date 'YYYY'}}</p>
</footer>